{% if teachers_list %}
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Birthday</th>
              <th>Phone number</th>

              <th>🖉</th>


            </tr>
        </thead>

            {% for Teacher in teachers_list %}
                <tr>
                  <td> {{ Teacher.id }}</td>
                  <td> {{ Teacher.Teacher_first_name }}</td>
                  <td> {{ Teacher.Teacher_second_name }}</td>
                  <td> {{ Teacher.Teacher_email }}</td>
                  <td> {{ Teacher.Teacher_birthday }}</td>
                  <td> {{ Teacher.Teacher_phone_number }}</td>

                  <td> <a href="/teachers/edit/{{ Teacher.id }}">EDIT</a></td>

                </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, list is empty</p>
{% endif %}