{% if teachers_list %}

    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</a></li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Birthday</th>
              <th>Phone number</th>

              <th>🖉</th>


            </tr>
        </thead>

            {% for Teacher in teachers_list %}
                <tr>
                  <td> {{ Teacher.id }}</td>
                  <td> {{ Teacher.Teacher_first_name }}</td>
                  <td> {{ Teacher.Teacher_second_name }}</td>
                  <td> {{ Teacher.Teacher_email }}</td>
                  <td> {{ Teacher.Teacher_birthday }}</td>
                  <td> {{ Teacher.Teacher_phone_number }}</td>

                  <td> <a href="/teachers/edit/{{ Teacher.id }}">EDIT</a></td>

                </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, list is empty</p>
{% endif %}