
{% if students_list %}

    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</a></li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Group</th>


              <th>🖉</th>
              <th>🗑</th>

            </tr>
        </thead>

            {% for Student in students_list %}
                <tr>
                  <td> {{ Student.id }}</td>
                  <td> {{ Student.Student_first_name }}</td>
                  <td> {{ Student.Student_second_name }}</td>
                  <td> {{ Student.Student_email }}</td>
                  <td> {{ Student.Student_group }}</td>

                  <td> <a href="/students/edit/{{ Student.id }}">EDIT</a></td>
                  <td> <a href="/students/delete/{{ Student.id }}">DELETE</a></td>

                </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, list is empty</p>
{% endif %}

