
{% if groups_list %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</a></li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>

    <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>Specialization</th>
          <th>Size</th>
          <th>Classroom</th>
          <th>Teacher</th>


          <th>🖉</th>
        </tr>
        {% for Groups in groups_list %}
            <tr>
              <td> {{ Groups.id }}</td>
              <td> {{ Groups.Group_specialization }}</td>
              <td> {{ Groups.Group_size }}</td>
              <td> {{ Groups.classroom }}</td>
              <td> {{ Groups.Group_teacher }}</td>

              <td> <a href="/groups/edit/{{ Groups.id }}">EDIT</a></td>

            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, the list is empty</p>
{% endif %}


