{% extends 'base.html' %}

{% block content %}

    <form>
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname">
        <button type="submit">Search</button>
    </form>

    {% for Teacher in teachers_list %}
            {{Teacher.id}}
            <a href="/teachers/edit/{{Teacher.id}}">{{Teacher.Teacher_first_name}} {{Teacher.Teacher_second_name}}</a>
            {{Teacher.Teacher_email}}
            {{Teacher.Teacher_birthday}}
            {{Teacher.Teacher_phone_number}}
            <br>
        {%empty%}
           <p>Sorry, list is empty</p>
        {% endfor%}

{% endblock%}