{% extends 'base.html' %}

{% block content %}
    <form>
      <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Group specialization</span>
            </div>

            <input name="G-spec" type="text" class="form-control" placeholder="type here..." aria-label="G-spec" aria-describedby="basic-addon1">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>

    {% include 'groups_includes/groups_table.html' %}

{% endblock %}